// @import "bootstrap-sprockets";
@import "bootstrap";

.col-md-4 {
  width: 33%;
  display: inline-block;
  text-align: center;
  vertical-align: middle;
  line-height: 90px;
}

.buttons {
  text-align: center;
  vertical-align: middle;
}

body {
  background-color: lightskyblue;
}