// @import "bootstrap-sprockets";
@import "bootstrap";


.col-md-1 {
  text-align: center;
  color: white;
  background-color: #58736D;
  height: 26px;
}
.col-md-4 {
  width: 33%;
  display: inline-block;
  text-align: center;
  vertical-align: middle;
  line-height: 90px;
}

.buttons {
  text-align: center;
  vertical-align: middle;
}

